---
import Head from "@/components/Head.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import SideLayout from "@/layouts/SideLayout.astro";
import type { ColorType } from "@/types/index";
import type { MarkdownHeading } from "astro";

interface Props {
	activeName: string;
	baseColor: ColorType;
	currentName?: string | undefined;
	description: string;
	og?: {
		type?: string;
		image?: string;
	};
	mainTagName?: string | undefined;
	title: string;
	toc?:
		| {
				headings: MarkdownHeading[] | undefined;
				tagName: string;
		  }
		| undefined;
	lang?: string | undefined;
}

const {
	activeName,
	baseColor,
	currentName = undefined,
	description,
	og = undefined,
	mainTagName = undefined,
	title,
	toc = undefined,
	lang = "en",
} = Astro.props;
const routes = Astro.url.pathname.split("/").filter((path) => path);
const currentPath =
	title === "404 - ktym4a" ? "404" : routes.at(-1) ?? "ktym4a";
---

<!doctype html>
<html
    lang={lang}
    class='ctp-mocha bg-ctp-crust font-mono dark:bg-ctp-surface0'
>
    <Head title={title} description={description} og={og} />
    <body class='relative text-sm text-ctp-text md:min-h-svh md:text-base'>
        <div
            class={`fixed top-0 left-0 right-0 bottom-0 from-ctp-crust dark:from-ctp-surface0 from-40% to-100% bg-gradient-to-br ${baseColor.backgroundGradient}`}
        ></div>
        <div
            class='relative z-10 m-auto grid min-h-full max-w-7xl md:grid-cols-[16rem_1fr] lg:grid-cols-[24rem_1fr] lg:px-2'
        >
            <SideLayout
                activeName={activeName}
                baseColor={baseColor}
                currentName={currentName}
                currentPath={currentPath}
                routes={routes}
                toc={toc}
            />
            <MainLayout
                baseColor={baseColor}
                currentPath={currentPath}
                currentName={currentName}
                routes={routes}
                tagName={mainTagName}
            >
                <slot />
            </MainLayout>
        </div>
    </body></html
>
