---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Menu from "@/components/Menu.astro";
import NavOpen from "@/components/atoms/NavOpen.astro";
import ThemeIcon from "@/components/atoms/ThemeIcon.astro";
import type { ColorType } from "@/types/index";
import type { MarkdownHeading } from "astro";

interface Props {
	activeName: string;
	baseColor: ColorType;
	currentPath: string;
	currentName?: string | undefined;
	routes: string[];
	toc?:
		| {
				headings: MarkdownHeading[] | undefined;
				tagName: string;
		  }
		| undefined;
}

const {
	activeName,
	baseColor,
	currentPath,
	currentName = undefined,
	routes,
	toc = undefined,
} = Astro.props;
---

<div class='flex'>
    <div
        class={`fixed bottom-0 right-0 z-20 flex max-w-11 min-w-11 flex-col items-center px-1 md:pt-6 md:relative md:hidden md:min-w-16 md:max-w-16 md:justify-between md:gap-12 md:pl-0 md:pr-2 lg:flex`}
    >
        <div class='hidden justify-center lg:flex'>
            <Breadcrumbs
                baseColor={baseColor}
                currentPath={currentPath}
                currentName={currentName}
                position='left'
                routes={routes}
            />
        </div>
        <div class='mt-auto w-full space-y-2 md:w-auto'>
            <div class='md:hidden'>
                <NavOpen activeName={activeName} baseColor={baseColor} />
            </div>
            <ThemeIcon baseColor={baseColor} />
        </div>
    </div>
    <aside
        class={`hidden flex-auto border-r-2 border-dashed border-ctp-overlay2 px-4 py-6 md:grid md:px-6 lg:border-x-2`}
    >
        <Menu
            activeName={activeName}
            tagText='SideMenu'
            toc={toc}
            baseColor={baseColor}
        />
    </aside>
</div>
