---
import Menu from "@/components/Menu.astro";
import type { ColorType } from "@/types/index";

interface Props {
	activeName: string;
	baseColor: ColorType;
}

const { activeName, baseColor } = Astro.props;
---

<div
    class='mt-auto flex w-full flex-col items-center justify-center gap-2 md:w-auto'
>
    <button
        id='navOpen'
        aria-label='Toggle navigation menu'
        class={`relative z-10 motion-safe:transition-filter ease-in-out motion-safe:duration-1000 group flex aspect-[1] w-full flex-col items-center justify-center rounded-md bg-ctp-surface0 p-[2px] outline-dashed outline-0 outline-ctp-overlay2 hover:saturate-200 focus-visible:no-underline focus-visible:outline-dashed focus-visible:outline-2 focus-visible:saturate-200 dark:bg-ctp-crust dark:hover:saturate-350 dark:focus-visible:saturate-350 md:aspect-auto md:p-1 md:outline-2 ${baseColor.focusOutline} ${baseColor.hoverOutline} ${baseColor.hoverText} ${baseColor.focusText}`}
    >
        <svg
            xmlns='http://www.w3.org/2000/svg'
            class='hidden h-6 w-6 group-[.current]:block md:h-8 md:w-8'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
        >
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <path
                d='M5 19l2.757 -7.351a1 1 0 0 1 .936 -.649h12.307a1 1 0 0 1 .986 1.164l-.996 5.211a2 2 0 0 1 -1.964 1.625h-14.026a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2h4l3 3h7a2 2 0 0 1 2 2v2'
            >
            </path>
        </svg>
        <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-6 w-6 group-[.current]:hidden md:h-8 md:w-8'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
        >
            <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
            <path
                d='M5 4h4l3 3h7a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2'
            >
            </path>
        </svg>
    </button>
</div>
<div
    id='nav'
    class='fixed bottom-0 left-0 right-0 top-0 grid translate-x-full ease-in-out motion-safe:transition-all motion-safe:duration-200 md:hidden'
>
    <div
        class="grid bg-ctp-crust dark:bg-ctp-surface0 px-4 py-6"
        tabindex='-1'
    >
        <Menu activeName={activeName} tagText='Menu' baseColor={baseColor} />
    </div>
</div>
